body {
  margin: 0;
  padding: 0;
}

html {
  font-family: Roboto, sans-serif;
}

.moyo-header {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  height: 60px;
  align-items: center;
}

.moyo-header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  margin: 20px;
}

a:first-child {
  margin-left: 0;
}

a:last-child {
  margin-right: 0;
}

a:hover {
  color: #00ACDC
}

.is-active {
  color: #00ACDC
}

.is-active::after{
  content: "";
  width: 10px;
  background-color: #00ACDC;
  height: 2px;
}
